[Unit]
Description=U LOCKER service
After=redis-server.service
Requires=redis-server.service
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/ulocker
ExecStart=/home/ulocker/ulocker_service
User=ulocker
Group=ulocker
TimeoutStopSec=30
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/ulocker/nohup_ulocker.log
StandardError=append:/home/ulocker/nohup_ulocker.log

[Install]
WantedBy=multi-user.target