[Unit]
Description=U LOCKER service
After=redis-server.service
Requires=redis-server.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/home/ulocker
ExecStart=/home/ulocker/ulocker_service
User=ulocker
Group=ulocker
TimeoutStopSec=60
Restart=always
RestartSec=10
StandardOutput=append:/home/ulocker/nohup_ulocker.log
StandardError=append:/home/ulocker/nohup_ulocker.log

[Install]
WantedBy=multi-user.target